body {
    background-color: black;
    color: rgb(3, 172, 3);
    font-family: monospace;
    max-width: 900px;
    margin: 20px auto;
    font-size: 14px;
    line-height: 18px;
}

input {
    border: 1px solid #e00202;
    padding: 10px 15px;
    background: black;
    color: #e00202;
    cursor: pointer;
    font-weight: bold;
}

h1 a {
    text-decoration: none;
    color: #e00202;
}

a {
    color: #ffffff;
}

h2 {
    color: rgb(3, 172, 3);
}

.copy {
    cursor: pointer;
}

.txtmenu {
    color: #ffffff;
    text-align: start;
    background-color: #222;
    padding: 10px;
}

.center {
    text-align: center;
}


.modules {
    list-style: none;
    padding: 0;
    word-break: break-word;
}

.modules li {
    padding: 2px 5px;
    margin: 1px 0;
    background-color: #222;
}

.modules li .copy {
    display: none;
}

.modules li:hover .copy {
    display: inline;
}

.mod-cell {
    display: inline-block;
    vertical-align: top;
}

.mod-name {
    width: 35%;
}

.mod-name a {
    text-decoration: none;
    color: #ffbebe;
    font-weight: bold;
}

.mod-version {
    width: 15%;
}

.image {
    width: 50%;
    background-color: #222;
}

.pp {
    width: 20%;
    background-color: #222;
}

.mod-descr {
    width: 50%;
}

.noscript-hidden {
    display: none !important;
}

pre {
    white-space: pre-wrap;
}

.source .comment {
    color: #ffbdbd;
}

.source .control, .source .operator {
    color: #caca47;
}

.source .string, .source .constant {
    color: #e00202;
}

@media (max-width:450px) {
    .image {
        width: 80%;
        background-color: #222;
        position : relative;
    }
    .pp {
        width:35%;
        background-color: #222;
    }

}